<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <SyrTraitsSettingsCategory>Individuality</SyrTraitsSettingsCategory>
  
  <SyrTraitsTraitCount>Amount of traits pawns spawn with</SyrTraitsTraitCount>
  <SyrTraitsDisabled>Romance features disabled because of</SyrTraitsDisabled>
  <SyrTraitsDisabledPsychology>Psychology is active</SyrTraitsDisabledPsychology>
  <SyrTraitsDisabledRationalRomance>Rational Romance is active</SyrTraitsDisabledRationalRomance>
  <SyrTraitsDisableRomance>Disable romance features</SyrTraitsDisableRomance>
  <SyrTraitsDisableRomanceTooltip>Disables sexuality and confidence values and their effects</SyrTraitsDisableRomanceTooltip>
  <SyrTraitsSexualityCommonality>Commonality of sexualities</SyrTraitsSexualityCommonality>
  <SyrTraitsSexualityCommonalityStraight>Straight</SyrTraitsSexualityCommonalityStraight>
  <SyrTraitsSexualityCommonalityBi>Bi</SyrTraitsSexualityCommonalityBi>
  <SyrTraitsSexualityCommonalityGay>Gay</SyrTraitsSexualityCommonalityGay>
  <SyrTraitsSexualityCommonalityAsexual>Asexual</SyrTraitsSexualityCommonalityAsexual>
  <SyrTraitsDefaultSettings>Reset to default</SyrTraitsDefaultSettings>
  <SyrTraitsDefaultSettingsTooltip>Reset settings to default values</SyrTraitsDefaultSettingsTooltip>
  
  <IndividualityWindow>Individuality</IndividualityWindow>
  <IndividualityTooltip>View individuality</IndividualityTooltip>
  <SexualityPawn>Sexuality</SexualityPawn>
  <SexualityPawnTooltip>Which genders this person is attracted to</SexualityPawnTooltip>
  <RomanceFactor>Confidence</RomanceFactor>
  <RomanceFactorTooltip>How likely it is this person attempts to romance someone</RomanceFactorTooltip>
  <PsychicFactor>Psychic sensitivity</PsychicFactor>
  <PsychicFactorTooltip>This person's natural sensitivity to psychic phenomena</PsychicFactorTooltip>
  <BodyWeight>Body weight</BodyWeight>
  <BodyWeightTooltip>The weight of this person</BodyWeightTooltip>
  <SyrIndividuality_EditModeOn>Enable edit mode</SyrIndividuality_EditModeOn>
  <SyrIndividuality_EditModeOff>Disable edit mode</SyrIndividuality_EditModeOff>
  <SyrIndividuality_EditModeTooltip>Left-click a field to increase, right-click to decrease</SyrIndividuality_EditModeTooltip>
  <BodyWeightOffset>Natural body shape</BodyWeightOffset>
  <SyrTraitsDaVinciGene>Da Vinci Gene</SyrTraitsDaVinciGene>
  <SyrTraitsSlowLearnerLabel>Slow learner</SyrTraitsSlowLearnerLabel>
  <SyrTraitsSlowLearner>Bonus from total skills</SyrTraitsSlowLearner>
  
</LanguageData>